<div id="issue-view-count" style="display: none;">
  <a class="issue-view-count">view</a>
  <span><%= issue.view_count %>回</span>
</div>

<script>
 $(function() {
     $.ajax({
         method: 'POST',
         url: '<%= issue_view_countup_path(issue) %>',
     });
     $('#issue-view-count').children().prependTo('#content > .contextual');
 });
</script>