<div id="issue-view-count" style="display: none;">
  <a class="issue-view-count">view</a>
  <span><%= issue.view_count %>回</span>
</div>

<script>
 $(function() {
     $('#issue-view-count').children().prependTo('#content > .contextual');
 });
</script>